# Xcode
SOTALog/SOTALog.xcodeproj/xcuserdata/
SOTALog/SOTALog.xcodeproj/project.xcworkspace/xcuserdata/
SOTALog/SOTALog.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Build
SOTALog/.build/
SOTALog/build/
DerivedData/
*.xcresult

# SPM
SOTALog/.swiftpm/

# macOS
.DS_Store

# Claude
.claude/
