# Xcode
DitLog/DitLog.xcodeproj/xcuserdata/
DitLog/DitLog.xcodeproj/project.xcworkspace/xcuserdata/
DitLog/DitLog.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Build
DitLog/.build/
DitLog/build/
DerivedData/
*.xcresult

# SPM
DitLog/.swiftpm/

# macOS
.DS_Store

# Claude
.claude/
